<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Intérprete demo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" title="" type="" />
</head>

<body>

   <div class="stretch console">
      <div id="console" class="stretch">
        <ul id="output"></ul>
        <form>
            <textarea autofocus id="exec" spellcheck="false" autocapitalize="off" rows="1" autocorrect="off"></textarea>
        </form>
      </div>
    </div>
    
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='javascript/console.js')}}"> </script>
    <script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='javascript/prettyprint.js')}}"> </script>
</body>
</html>
